torch~=2.4.1
numpy~=1.23.5
scikit-learn~=1.2.2
pandas~=1.5.3
matplotlib~=3.7.5
statsmodels~=0.14.1
scipy~=1.10.1
tqdm~=4.64.1
joblib~=1.4.2
einops~=0.8.0
PyWavelets~=1.4.1
sympy~=1.11.1
future~=1.0.0
networkx~=3.1
gensim~=4.3.3
futures~=3.0.5
six~=1.16.0
fastdtw~=0.3.4
sktime~=0.16.1
reformer_pytorch~=1.4.4